<header class="site-header">
    <nav class="navbar">

        <a href="../pages/home.html" class="navbar-logo">
            FOOD
        </a>

        <div class="navbar-links">
            <a href="../pages/home.html">Home</a>
            <a href="../pages/menu.html">Menu</a>
            <a href="../pages/about.html">About</a>
        </div>

        <div class="navbar-actions">
            <a href="../pages/login.html" class="navbar-login">
                Login
            </a>
        </div>

    </nav>
</header>
